$shadow: 0px 5px 15px rgba(1, 1, 1, 0.1);
$light-text: rgba(0, 0, 0, 0.54);
$light-primary: #303f9f;
$light-primary-tint: #4452a8;
$light-primary-shade: #26327f;
$light-secondary: #f5f5f5;
$light-secondary-tint: white;
$light-secondary-shade: #dcdcdc;
$dark-text: hsla(0,0%,100%,.7);
$dark-primary: #EA6C2C;
$dark-primary-tint: #ec7a41;
$dark-primary-shade: #d26127;
$dark-secondary: #232d44;
$dark-secondary-tint: #384256;
$dark-secondary-shade: #1f283d;
$buy: #27d68a;
$sell: #f36972;
$darken: rgba(1, 1, 1, 0.5);
$overlay: rgba(130,130,130,.1);

.Account {
  .card {
    margin-top: 30px;
  }
  .actions {
    display: flex;
    .action {
      margin-right: 10px;
      text-transform: capitalize;
      cursor: pointer;
      transition: color 300ms ease;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .pill {
    // width: 90px;
    text-align: center;
    border-radius: .25rem;
    color: $dark-text;
    &.deposit, &.buy {
      background-color: $buy;
    }
    &.withdraw, &.sell {
      background-color: $sell;
    }
  }
  &.light {
    .action {
      color: $light-primary;
      &:hover {
        color: $light-primary-shade;
      }
    }
  }
  &.dark {
    .action {
      color: $dark-primary;
      &:hover {
        color: $dark-primary-shade;
      }
    }
  }
}
