$light-bg: #f8f9fa;
$dark-bg: #232d44;
$inactive-grey: rgba(0, 0, 0, 0.54);
$orange: #EA6C2C;

.Loading {
  &.fixed {
    position: fixed;
  }
  &.absolute {
    position: absolute;
  }
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100vh;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  ion-icon[name="hourglass"] {
    animation: spin 500ms ease-in-out infinite;
    line-height: 0;
  }
  &.active {
    display: flex;
  }
  &.dark {
    background-color: $dark-bg;
    ion-icon[name="hourglass"] {
      font-size: 40px;
      color: $orange;
    }
  }
  &.light {
    background-color: $light-bg;
    ion-icon[name="hourglass"] {
      font-size: 40px;
      color: $inactive-grey;
    }
  }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(180deg);
    }
}
