$shadow: 0px 5px 15px rgba(1, 1, 1, 0.1);
$light-text: rgba(0, 0, 0, 0.54);
$light-primary: #EA6C2C;
$light-primary-tint: #ec7a41;
$light-primary-shade: #d26127;
$light-secondary: #f5f5f5;
$light-secondary-tint: white;
$light-secondary-shade: #dcdcdc;
$dark-text: hsla(0,0%,100%,.7);
$dark-primary: #EA6C2C;
$dark-primary-tint: #ec7a41;
$dark-primary-shade: #d26127;
$dark-secondary: #232d44;
$dark-secondary-tint: #384256;
$dark-secondary-shade: #1f283d;

.Menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10003;
  display: flex;
  align-items: center;
  flex: 1;
  box-shadow: $shadow;
  .desktop.container {
    position: relative;
    z-index: 1;
    .wrapper {
      display: flex;
      justify-content: space-between;
      .pull-left{
        display: flex;
        .brand {
          height: 60px;
          width: 100px;
          display: flex;
          align-items: center;
          margin-right: 20px;
          &:hover {
            text-decoration: none !important;
          }
          img {
            width: 100%;
            height: 100%;
          }
          svg {
            width: 100%;
            height: 100%;
          }
          span {
            font-size: 20px;
          }
        }
        .items {
          display: flex;
          text-transform: uppercase;
          font-size: 14px;
          position: relative;
          .highlighter {
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 1px;
            transition: transform 300ms ease;
            width: 0%;
          }
          .item {
            user-select: none;
            display: flex;
            position: relative;
            align-items: center;
            padding: 0px 15px;
            cursor: pointer;
            &:hover {
              text-decoration: none !important;
            }
            .active {
              box-sizing: border-box;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
      .pull-right {
        display: flex;
        align-items: center;
      }
    }
    ion-icon {
      transition: color 300ms ease;
    }
  }
  &.light {
    background-color: white;
    .brand {
      span {
        color: #333;
      }
      svg {
        fill: $light-primary;
        .st3 {
          fill: transparent;
          stroke: $light-primary;
        }
        text {
          fill: $light-text;
        }
      }
    }
    ion-icon {
      font-size: 24px;
      cursor: pointer;
      color: $light-primary;
      &:hover {
        color: $light-primary-shade;
      }
    }
    .items {
      .highlighter {
        background-color: $light-primary;
      }
      .item {
        color: $light-text;
        &.active {
          color: $light-primary; 
        }
      }
    }
    .mobile {
      background-color: white;
    }
  }
  &.dark {
    background-color: $dark-secondary-tint;
    .brand {
      span {
        color: $dark-text;
      }
      svg {
        fill: $dark-primary;
        .st3 {
          fill: transparent;
          stroke: $dark-primary;
        }
        text {
          fill: $dark-text;
        }
      }
    }
    ion-icon {
      line-height: 0;
      font-size: 24px;
      cursor: pointer;
      color: $dark-primary;
      &:hover {
        color: $dark-primary-shade;
      }
    }
    .items {
      .highlighter {
        background-color: $dark-primary;
      }
      .item {
        color: $dark-text;
        &.active {
          color: $dark-primary; 
        }
      }
    }
    .mobile {
      background-color: $dark-secondary-tint;
    }
  }
  .mobile {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &.hidden {
      top: -200%;
      .items {
        transform: translateY(-30px);
      }
    }
    .items {
      transform: translateY(0px);
      transition: transform 500ms ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 20px;
      .item {
        text-transform: capitalize;
        user-select: none;
        margin-bottom: 20px;
        cursor: pointer;
        text-decoration: none !important;
        &:hover {
          text-decoration: none !important;
          opacity: 0.7;
        }
      }
    }
  }
}