$shadow: 0px 5px 15px rgba(1, 1, 1, 0.1);
$inactive-grey: rgba(0, 0, 0, 0.54);
$primary-blue: #303f9f;
$background-grey: #f5f5f5;
$dark-fg: #384256;
$dark-text: hsla(0,0%,100%,.7);
$dark-primary: #EA6C2C;

.Menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10000;
  display: flex;
  align-items: center;
  flex: 1;
  box-shadow: $shadow;
  .desktop.container {
    position: relative;
    z-index: 1;
    .wrapper {
      display: flex;
      justify-content: space-between;
      .pull-left{
        display: flex;
        .brand {
          height: 60px;
          display: flex;
          align-items: center;
          margin-right: 40px;
          &:hover {
            text-decoration: none !important;
          }
          img {
            margin-right: 10px;
          }
          span {
            font-size: 20px;
          }
        }
        .items {
          display: flex;
          text-transform: uppercase;
          font-size: 14px;
          position: relative;
          .highlighter {
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 1px;
            transition: all 300ms ease;
            width: 0%;
          }
          .item {
            user-select: none;
            display: flex;
            position: relative;
            align-items: center;
            padding: 0px 15px;
            cursor: pointer;
            &:hover {
              text-decoration: none !important;
            }
            .active {
              box-sizing: border-box;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
      .pull-right {
        display: flex;
        align-items: center;
      }
    }
  }
  ion-icon {
    &:hover {
      opacity: 0.7;
    }
  }
  &.light {
    background-color: white;
    .brand {
      span {
        color: #333;
      }
    }
    ion-icon {
      font-size: 24px;
      cursor: pointer;
      color: $inactive-grey;
    }
    .items {
      .highlighter {
        background-color: $primary-blue;
      }
      .item {
        color: $inactive-grey;
        &.active {
          color: $primary-blue; 
        }
      }
    }
    .mobile {
      background-color: white;
    }
  }
  &.dark {
    background-color: $dark-fg;
    .brand {
      span {
        color: $dark-text;
      }
    }
    ion-icon {
      line-height: 0;
      font-size: 24px;
      cursor: pointer;
      color: $dark-text;
    }
    .items {
      .highlighter {
        background-color: $dark-primary;
      }
      .item {
        color: $dark-text;
        &.active {
          color: $dark-primary; 
        }
      }
    }
    .mobile {
      background-color: $dark-fg;
    }
  }
  .mobile {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &.hidden {
      top: -200%;
      .items {
        transform: translateY(-30px);
      }
    }
    .items {
      transform: translateY(0px);
      transition: transform 500ms ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 20px;
      .item {
        text-transform: capitalize;
        user-select: none;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          text-decoration: none !important;
          opacity: 0.7;
        }
        .active {
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}