$shadow: 0px 5px 15px rgba(1, 1, 1, 0.1);
$light-text: rgba(0, 0, 0, 0.54);
$light-primary: #303f9f;
$light-secondary: #f5f5f5;
$light-secondary-tint: white;
$light-secondary-shade: #dcdcdc;
$dark-text: hsla(0,0%,100%,.7);
$dark-primary: #EA6C2C;
$dark-secondary: #232d44;
$dark-secondary-tint: #384256;
$dark-secondary-shade: #1f283d;
$overlay: rgba(130,130,130,.1);
$icon-medium: 24px;
$icon-small: 14px;

*:focus {
  box-shadow: none !important;
}

.Search {
  .input-group {
    background-color: $overlay;
    .input-group-prepend {
      span {
        padding-right: 0px;
        border-radius: 0px;
        background-color: transparent;
        border: 0px;
        font-size: $icon-medium;
      }
    }
    .search {
      border-radius: 0px;
      background-color: transparent;
      border: 0px;
      height: 50px;
    }
  }
  &.light {
    .search, .input-group-prepend span {
      color: $light-text;
    }
  }
  &.dark {
    .search, .input-group-prepend span {
      color: $dark-text;
    }
  }
}