$shadow: 0px 5px 15px rgba(1, 1, 1, 0.1);
$light-text: rgba(0, 0, 0, 0.54);
$light-primary: #303f9f;
$light-secondary: #f5f5f5;
$light-secondary-tint: white;
$light-secondary-shade: #dcdcdc;
$dark-text: hsla(0,0%,100%,.7);
$dark-primary: #EA6C2C;
$dark-secondary: #232d44;
$dark-secondary-tint: #384256;
$dark-secondary-shade: #1f283d;

.Table {
  .table {
    margin: 0px;
    thead {
      th {
        border: 0px;
      }
    }
    tbody {
      th, td {
        border: 0px;
        padding-right: 60px;
      }
    }
  }
  &.light {
    .table {
      color: $light-text;
      tbody {
        tr {
          border-top: 1px solid $light-secondary;
        }
      }
    }
  }
  &.dark {
    .table {
      color: $dark-text;
      tbody {
        tr {
          border-top: 1px solid $dark-secondary;
        }
      }
    }
  }
}