$shadow: 0px 5px 15px rgba(1, 1, 1, 0.1);
$light-text: rgba(0, 0, 0, 0.54);
$light-primary: #303f9f;
$light-primary-tint: #4452a8;
$light-primary-shade: #26327f;
$light-secondary: #f5f5f5;
$light-secondary-tint: white;
$light-secondary-shade: #dcdcdc;
$dark-text: hsla(0,0%,100%,.7);
$dark-primary: #EA6C2C;
$dark-primary-tint: #ec7a41;
$dark-primary-shade: #d26127;
$dark-secondary: #232d44;
$dark-secondary-tint: #384256;
$dark-secondary-shade: #1f283d;
$buy: #27d68a;
$sell: #f36972;
$darken: rgba(1, 1, 1, 0.5);
$overlay: rgba(130,130,130,.1);

.Ticker {
  width: 100%;
  height: 50px;
  overflow: hidden;
  display: flex;
  > .search {
    height: 50px;
    min-width: 150px;
    width: 150px;
    box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.1);
    z-index: 1;
    .Search {
      .input-group {
        background-color: transparent;
      }
    }
  }
  > .tickers {
    height: 60px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-left: 10px;
    .not-found {
      height: 50px;
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
    .ticker {
      height: 40px;
      width: 110px;
      min-width: 110px;
      max-width: 110px;
      font-size: .8rem;
      box-sizing: border-box;
      line-height: 1.2;
      margin-top: 5px;
      padding-right: 10px;
      .body {
        .price {
          font-size: .6rem;
        }
      }
      &.up {
        .body {
          .price {
            color: $buy;
          } 
        }
      }
      &.down {
        .body {
          .price {
            color: $sell;
          } 
        }
      }
      .body {
        position: relative;
        cursor: pointer;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: .25rem;
        padding: 10px;
        box-shadow: 0px 1px 5px rgba(1, 1, 1, 0.1);
        overflow: hidden;
        > div {
          text-align: center;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0px;
          left: 0px;
          height: 1px;
          width: 100%;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-track {
    background: $overlay;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $dark-primary;
    cursor: pointer;
  }
  &.light {
    .ticker {
      .body {
        background-color: $light-secondary-tint;
      }
      &.active {
        .body {
          &::after {
            background-color: $light-primary;
          }
        }
      }
    }
  }
  &.dark {
    .ticker {
      .body {
        background-color: $overlay;
      }
      &.active {
        .body {
          &::after {
            background-color: $dark-primary;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) { 
  .Ticker {
    display: block;
    height: 100px;
    > .search, .tickers {
      width: 100%;
    }
    > .search {
      box-shadow: none;
    }
  }
}
