$shadow: 0px 5px 15px rgba(1, 1, 1, 0.1);
$light-text: rgba(0, 0, 0, 0.54);
$light-primary: #303f9f;
$light-primary-gradient: linear-gradient(90deg,#303f9f,#979fcf);
$light-primary-tint: #4452a8;
$light-primary-shade: #26327f;
$light-secondary: #f5f5f5;
$light-secondary-tint: white;
$light-secondary-shade: #dcdcdc;
$dark-text: hsla(0,0%,100%,.7);
$dark-primary: #EA6C2C;
$dark-primary-gradient: linear-gradient(90deg,#EA6C2C,#f6de6c);
$dark-primary-tint: #ec7a41;
$dark-primary-shade: #d26127;
$dark-secondary: #232d44;
$dark-secondary-tint: #384256;
$dark-secondary-shade: #1f283d;
$buy: #27d68a;
$sell: #f36972;
$darken: rgba(1, 1, 1, 0.5);
$overlay: rgba(130,130,130,.1);
$padding: 20px;
$light-placeholder-color: #bbbbbb;

.Trade {
  .invalid-feedback {
    display: block;
    height: 19px;
    opacity: 0;
    &.visible {
      opacity: 1;
    }
  }
  height: 450px;
  position: relative;
  .not-logged-in {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: $dark-secondary-tint;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .body {
    position: relative;
    padding: $padding;
    .balance {
      padding: $padding;
      border-radius: .25rem;
      color: $dark-text;
      .header {
        font-weight: 500;
      }
      .value {
        font-size: 1.5rem;
        font-weight: 100;
        white-space: nowrap;
        color: white;
      }
    }
    .amount-and-price {
      input {
        margin-top: 20px;
        border: 0px;
        background-color: $overlay;
      }
    }
    .fee-and-total {
      small {
        margin-top: 10px;
        display: block;
      }
    }
    .submit {
      margin-top: 20px;
      text-transform: uppercase;
    }
  }
  &.light {
    .body {
      .balance {
        background: $light-primary-gradient;
      }
      input {
        color: $light-text;
        &::placeholder {
          color: $light-placeholder-color;
        }
      }
    }
  }
  &.dark {
    .body {
      .balance {
        background: $dark-primary-gradient;
      }
      input {
        color: $dark-text;
      }
    }
  }
}