$dark-primary: #EA6C2C;
$light-text: rgba(0, 0, 0, 0.7);
$light-bg: #f8f9fa;
$dark-bg: #232d44;
$dark-text: rgba(255, 255, 255, 0.7);

.App {
  min-height: 2000px;
  &.light {
    background-color: $light-bg;
    color: $light-text;
  }
  &.dark {
    background-color: $dark-bg;
    color: $dark-text;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
